@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
  @apply bg-slate-100;
}

/* Imagen inicio de sesion y registro*/
.imagenInicio {
  min-width: 45%;
  background-image: url(./assets/images/mejor_registro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #427cae;
}
